---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
	firstName: "jonah",
	country: "Scotland",
	occupation: "Junior Dev",
	hobbies: ["surfing", "reading", "handstands"]
};

	const skills = ["Java", "Spring Boot", "Python", "Flask", "Astro"];
	const skillColor = "navy";
	const fontWeight = "bold";
	const textCase = "uppercase";


	const happy = true;
	const finished = false;
	const goal = 3;

	
---


	<BaseLayout pageTitle = {pageTitle}>

		<!-- figure out how to add local styles to variables coming via astro props. -->
		<style define:vars={{pageTitle, skillColor, fontWeight, textCase}}>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
			.skill{
				font-weight: var(--fontWeight);
				color: var(--skillColor);
				text-transform: var(--textCase);
			}
		  </style>


		<h2> this is me getting familiar with writing static sites in astro...</h2>
		<p>I am working through the astro tutorial again as i somehow misplaced my first attempt, nd i figure it will do me good to have another shot to consolidat ethe syntax.</p>
		<p> Here are a few facts about me</p>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country}.</li>

		{identity.hobbies.length >= 2 && <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li>}

		<p> My skills include</p>
		<ul>
				{skills.map((skill) => <li class = "skill">{skill}</li>)}		
		</ul>
		
		{happy && <p> I am happy to be learning astro</p>}
		{finished && <p>I finished this tutorial</p>}
		{goal === 3 ? <p>My goal is to finish this in 3 days</p> : <p> my goal is not three days</p>}

	</BaseLayout>		

</html>
